@import "../app.scss";
.update-form {
  border: 1px solid transparent;
  border-radius: 0.5rem;
  padding: 3rem 0;
  background-color: #ffffffd5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
  input {
    width: 60%;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
  }
  textarea {
    width: 60%;
    height: 5rem;
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    resize: none;
  }

  .formBtn {
    width: 20%;
    border: none;
    padding: 0.5rem;
    color: var(--btn-font-color);
    background-color: var(--btn-color);
    border-radius: 0.5rem;
  }
}
